<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <%- include('partials/_header'); %>

</head>
<%= email %>

<body>
     <% for (i in urls) { %>
     <% if (userId === urls[i][1]) { %>
  <form method="POST" action="/urls/<%= shortURL %>" style="">
    <label for="longURL">Update URL:</label>
     <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
     <input type="submit" value="Submit">
  </form>
    <p style= "display: inline;"><%= shortURL %> - <%= longURL %></p>
</body>
</html>