<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body bgcolor="#E6E6FA">
<ul></ul>
<a href="http://localhost:8080/urls/new">New URL</a>

<%= email %>

    <ul>
     <% for (i in urls) { %>
     <% if (userId === urls[i][1]) { %>
        <li><%=i %> : <%= urls[i][0] %></li>
        <form method="POST" action="/urls/<%= i %>/delete">
           <button type="submit">Delete</button>
        </form>
        <form method="GET" action="/urls/<%= i%>">
           <button type="submit">Edit</button>
        </form>
     <%  } }%>
    </ul>
</body>
</html>